<div class="pagina">
    <h1>Contacto</h1>
    <p>Ya estamos trabajando en el sitio para que podamos estar en contacto por este medio.</p>
    <p>&nbsp;</p>
    <p>Por el momento para cualquier información, comunicate a los Telefonos:</p>
    <p>&nbsp;</p>
    <p><strong>(01 55) 53593359 </strong></p>
    <p><strong>(01 55) 55761278 </strong></p>
    <p>&nbsp;</p>
    <p><strong>Lada sin costo: 01 800 83 15 111</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>La Universidad Tominaga Nakamoto, agradece tu preferencia.</p>
</div>