<div class="pagina">
    <h1>Historia</h1>

    <p>La <b>Escuela de Medicina 'Tominaga Nakamoto'</b>, es una Institución Privada de Educación Superior, de nivel
        Universitario, dotada de plena capacidad y personalidad jurídica, para ofrecer e impartir la carrera de Médico
        Cirujano, la cual se encuentra situada en la calle de Luis Freg Nº12, Naucalpan de Juárez, Estado de México. Fue
        creada en enero de 1991, gracias al gran entusiasmo y esfuerzo del equipo académico y administrativo con cuya
        colaboración se llevan a cabo las actividades relativas a la impartición de la carrera de Médico Cirujano,
        iniciada en agosto de 1992.</p>
    <p>&nbsp;</p>
    <p>La Institución, para desarrollar su actividad académica, está incorporada legalmente a la <b>Secretaría de
        Educación Pública de los Estados Unidos Mexicanos</b>, por resolución emitida por la Dirección General de
        Educación Superior-Subsecretaría de Educación Superior e Investigación Científica de la referida Secretaría de
        Educación Pública, bajo el <b>Acuerdo No. 992245</b> de fecha 10 de Agosto de 1999, que le otorga <b>Reconocimiento
            de Validez Oficial de Estudios (RVOE)</b> del Programa Académico de <b>Médico Cirujano</b>, con el Grado de
        <b>Licenciatura.</b></p>
    <p>&nbsp;</p>

    <p>Además, se encuentra inscrita en el <b>Registro de Establecimiento Educativo de la carrera de Médico Cirujano</b>,
        por disposición emanada de la <b>Dirección General de Profesiones-Subsecretaría de Educación Superior</b> de la
        <b>Secretaría de Educación Pública de México</b>.</p>
    <p>&nbsp;</p>
    <p>La Institución, desde el 14 de Mayo de 2004 tiene el <b>Status de Asociado Institucional Aspirante a Membresía de
        la 'Asociación Mexicana de Facultades y Escuelas de Medicina, A.C.' AMFEM</b> (Organismo similar a ASPEFAM. Cabe
        mencionar, que desde el 29 de Agosto de 2006 se adquirió la Categoría de Miembro de dicha Asociación.</p>
    <p>&nbsp;</p>
    <p>Asimismo, el <b>Consejo Mexicano para la Acreditación de la Educación Médica (COMAEM)</b>, (Organismo similar a
        CONAFU), con fecha 29 de Agosto del 2006, por consenso determinó <b>Acreditar el Programa de Médico Cirujano</b>
        que se imparte en la <b>Escuela de Medicina: Tominaga Nakamoto</b> quien, en tal virtud, está legitimada para
        cumplir con sus fines educativos.</p>
    <p>&nbsp;</p>

    <p>La Escuela, como Institución de Educación Superior y contar con su <b>RVOE</b> ha sido incorporada, como miembro
        oficial, al <b>Comité de Planeación de la Comisión Interinstitucional para la Formación de Recursos Humanos para
            la Salud- Dirección General de Enseñanza en Salud, de la Secretaría de Salud de México.</b></p>
    <p>&nbsp;</p>
    <p>En torno al nombre de la Escuela de Medicina <b>Tominaga Nakamoto</b>, consideramos pertinente hacer mención que,
        dicho nombre fue adoptado, en virtud de haber causado a los fundadores de la Institución, una grata impresión la
        historia de un ilustre médico japonés, cuyos antepasados cronológicamente datan todavía de la Era Renacentista
        (1715-1746), se sabe que uno de los hijos, del mayor productor de salsa de soya de la ciudad de Osaka-Japón, de
        entonces, fue de nombre Tominaga Nakamoto. Este hijo, desde su juventud, fue un ardiente y esforzado
        investigador de los problemas concernientes a temas religioso-doctrinarios, dedicándose, con mayor énfasis, al
        análisis profundo y objetivo de las doctrinas del budismo, el confuncionismo y el shintoísmo.</p>
    <p>&nbsp;</p>
    <p>Él creía que, la tradición existente en la vida social, no hacía sino engendrar ciertas normas en las que se
        sostenía el orden social, al margen de la religión que se profesara. Tominaga Nakamoto consecuente con su
        pensamiento, trató de que se abolieran todos los dogmas religiosos, sin excepción, porque consideraba que la
        única norma social ha seguir era la existencialista.</p>
    <p>&nbsp;</p>
    <p>Siglos después, o sea a principios del Siglo Veinte (XX), surge como uno de los descendientes de aquél legendario
        Tominaga Nakamoto, con el mismo nombre, de Tominaga Nakamoto, quien, a parte de ser el sucesor del legado de la
        filosofía cientifista de su ancestro, fue un eximio investigador médico, que contribuyó al claro y evidente
        progreso de la medicina. Sus conocimientos médico-científicos fueron transmitidos a sus alumnos de la
        Universidad de Nagoya, quienes como herederos de tan noble investigador continúan manteniendo su ejemplo. Es con
        el fin de perennizar el nombre de este ilustre médico, que se optó por denominar a nuestra Institución<strong>
            'Escuela de Medicina Tominaga Nakamoto'</strong></p>
    <p>&nbsp;</p>
    <p>Basados en la concepción de la verdad científica universal y la formación en los más altos valores humanos, de la
        mano con la visión de Tominaga Nakamoto, esta Escuela busca apoyar los procesos de solución de la problemática
        de salud que aqueja a la población mexicana con toda una herencia ancestral de búsqueda de la felicidad en el
        quehacer cotidiano hacia los demás, convirtiendo su lema <b><i>'TRABAJAR POR LA VERDAD'</i></b> en la directriz
        de su camino.</p>
</div>
