<div class="pagina">
    <h1>Misión</h1>
    <p>La <b>Misión</b> de formar excelentes Médicos Cirujanos Generales con valores éticos y humanísticos, altamente
        capacitados con gran sentido científico, crítico, creativo y social; a través de proyectos académicos con
        calidad, enmarcados en el desarrollo sustentable y que permita la competitividad y liderazgo a nivel
        internacional.</p>
    <p>&nbsp;</p>
    <h1>Visión</h1>
    <p>Nuestra <b>Visión</b> es constituirse en una Escuela que cumpla con todos los indicadores de calidad de la
        Educación Médica.</p>
    <p>&nbsp;</p>
    <h1>Objetivos</h1>
    <ol>
        <li>Impartir educación superior de alto nivel académico en el área de la medicina, procurando que la formación
            de médicos corresponda a las necesidades de la sociedad y que éstos sean capaces de afrontar los retos
            presentes y futuros de su formación académica y de su ejercicio profesional, así como de tomar decisiones
            que favorezcan su mejoramiento continuo.<br>
            <br>
        </li>
        <li>Organizar y desarrollar actividades de investigación, en atención, primordialmente, a los problemas
            nacionales y a las condiciones del desenvolvimiento histórico.<br>

            <br>
        </li>
        <li>Acrecentar, preservar, difundir y extender los beneficios que la ciencia y la cultura, con sentido crítico y
            creativo, por medio de la organización, promoción y realización de actividades están encaminadas al logro de
            estas finalidades.<br>
            <br>
        </li>
        <li>Desarrollar un modelo de enseñanza en el cual se conjuguen la docencia pedagógicamente innovadora con el
            rigor científico, a fin de favorecer el desarrollo integral del individuo y formar profesionistas
            competentes y comprometidos con su tiempo.<br>
            <br>
        </li>
        <li>Ofrecer servicios educativos comprometidos con la necesaria interrelación de lo individual con lo
            comunitario, al servicio de lo cual debe estar orientada la ciencia y la técnica.<br>

            <br>
        </li>
        <li>Desarrollar una estructura en la cual se garantice la libertad de cátedra e investigación dentro de un ideal
            común: el respeto a la persona en el marco de la exigencia, la autodisciplina y la responsabilidad de la
            comunidad universitaria en el crecimiento de la vida institucional.<br>
            <br>
        </li>
        <li>Generar, entre sus educandos y la comunidad en general, los sentimientos de respeto a la persona humana y a
            la naturaleza, así como la convivencia armónica entre ellos; los valores éticos y cívicos; las actitudes de
            responsabilidad y solidaridad social y el conocimiento de la realidad nacional, latinoamericana y universal.<br>
            <br>
        </li>
        <li>Establecer convenios de colaboración e intercambio con las instituciones, asociaciones, agrupaciones o
            fundaciones afines, ya sean nacionales o extranjeras, para el logro y mayor impulso de sus objetivos.
        </li>
    </ol>
</div>
