<div class="pagina">
    <h1>Directorio General</h1>
    <h2>Dirección General</h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#EAFBFD"><p>&nbsp;</p>
                <p><strong>D. En Psic. Clelia A. Márquez Canales </strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Dirección Académica </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#EEFCFD"><p>&nbsp;</p>
                <p><strong>M.S.P. Catherine Alejandra Márquez Canales</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Coordinación Académica y Ciencias Básicas </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F1FCFD"><p>&nbsp;</p>
                <p><strong>Mtro. Oscar Ismael Fabián Jarquín</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>110</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Academia de Revisión y Actualización Curricular </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F1FCFD"><p>&nbsp;</p>
                <p>Coordinación de Ciencias Clínicas y Servicio Social<br/>
                    <strong>Dr. Edgar Jesús Zapata Estrada</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>115</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Comité de Evaluación de los Aprendizajes </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F1FCFD"><p>&nbsp;</p>
                <p>Coordinación de Atención Psicopedagógica<br/>
                    <strong>MAFH. Liliana C. Bauza Casso</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>110</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>


    <h2>Comité de Ciencias Sociomédicas </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F1FCFD"><p>&nbsp;</p>
                <p>Coordinación de Investigación<br/>
                    <strong>Dr. Marco Polo Franco Hernández</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>109</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Coordinación de Educación Médica Continua </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F4FCFD"><p>&nbsp;</p>
                <p><strong>Dra. Laura Elena Rodríguez Salazar</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>110</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>

    <h2>Coordinación de Servicios Escolares </h2>
    <table width="95%" border="0" cellspacing="8" cellpadding="2">
        <tr>
            <td width="2%" align="right">&nbsp;</td>
            <td width="98%" bgcolor="#F4FCFD"><p>&nbsp;</p>
                <p><strong>Dra. Lilia Cecilia Tapia Osorio</strong></p>
                <p>&nbsp;</p>
                <p>Extensión: <strong>116</strong></p>
                <p>&nbsp;</p></td>
        </tr>
    </table>
</div>